@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200,300;0,400;1,500,600,700,100&display=swap|Exo:100,200,300,400,500,600,700');



/*----body----------- */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #0a0c0e;
    color: white;
    position: relative;
    overflow: hidden;
    
}

.raindrop {
  position: absolute;
  width: 2px;
  height: 40px;
  background-color: #05d8b2;
  animation: raindropFall 6s linear infinite;
}

@keyframes raindropFall {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}


/*----Nav Bar----------- */

.thumb-img {
  background-color: #05d8b2;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.text-color {
  color: #05d8b2;
}
.navbar-brand img {
  margin-right: 10px;
  color: #05d8b2;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
  color: #05d8b2;
}
.navbar{
    background-color: #0a0c0e;
  }

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #05d8b2;
  }
  
  .nav-link {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    background-color: #05d8b2;
  }
  
  .active {
    background-color: #000000;
  }

  /*----------------------------------- */
  
  /*-------Index page ----------- */
  .container img {
    border: 0.5px solid #05d8b2;
    box-shadow: 0 0 2px #05d8b2;
  }

  .container-index {
    padding-top: 15vh;
  }
  
  
  .container h1 {
    color: #05d8b2;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  
  .container h2 {
    color: #06f3eb;
    font-size: 2rem;
    font-weight: bold;
    
  }
  .container p {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: #05d8b2;
    line-height: 1.2;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  


  
  /*----------------------------- */

  /*-----BTN---------- */

  .btn-primary {
    background-color: #05d8b2;
    border-color: #05d8b2;
  }
  
  .btn-primary:hover {
    background-color: white;
    border-color: #05d8b2;
    color: #05d8b2;
  }
  /*------------------- */

  /* Footer styles */
/* Footer styles */
.footer {
    background-color: #222;
    color: #05d8b2;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  .footer a {
    color: #05d8b2;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  .footer a:hover {
    color: #05d8b2;
  }
  
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer ul li {
    display: inline-block;
    margin: 0 10px;
  }
  /*------------------- */
  /* Animated background */

/* Glowing effect */
img {
    box-shadow: 0 0 10px 0 rgba(15, 229, 208, 0.541);
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      box-shadow: 0 0 10px 0 rgba(15, 229, 208, 0.541);
    }
    to {
      box-shadow: 0 0 20px 0 rgba(15, 229, 208, 0.541);
    }
  }
  